button {
  width: 250px;
  height: 80px;
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 35px;
  border: 2px solid #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #00471b;
}
.boton-click {
  background-color: #002ead;
}
.boton-reiniciar {
  background-color: #5a01a7;
}
